body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #1a1a1a 0%, #2e2e2e 100%);
    color: white;
    position: relative;
  }
/*Styling for box in the background*/
.box {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 5rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 10rem;
} 

/*Styling for story*/
  #story {
    margin-left: 20%;
    margin-right: 20%;
    font-family: "baileywick-jf-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
/*Styling for title*/
  #title {
    text-align: center;
    margin-bottom: 3%;
    font-family: "cinzel", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  img {
    width: 25%;
    height:10%px;
    margin-left:6%;
    margin-top: 3%;
    border: 3px solid white;
    border-radius: 10px;
  }